body, html {
    height: 900px;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

body {
    flex-direction: row;
}

.content-left {
    border-right: 1px solid #CCC;
    display: flex;
    width: 509px;
    min-height: 784px;
    padding: 32px 40px 51px -1px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.content-right {
    flex-shrink: 0;
    width: 64%;
    display: flex;
    flex-direction: column;
    padding: 32px 95px 40px 64px;
}

.carousel-display {
    display: flex;
    width: 400px;
    min-height: 784px;
    padding: 52px 40px 51px 80px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;

}

hr {    
    border: 0;
    border-top: 1px solid #CCC;
    margin: 40px 0;
    width: 90%;
}

.slider{
    margin-right: 16px;
    border-radius: 8px;
    
}


.carousel-container {
    position: relative;
}

.carousel-item {
    display: block;
    width: 106px;
    margin-top: -14px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    padding-top: 15px;
    cursor: pointer;
    border-radius: 8px;
    
}

.carousel-item.selected img { 
    border: 2px solid #00f;
    filter: grayscale(0%);
    transition: filter 0.2s ease-in-out;
}

.carousel-item img:hover { 
    filter: grayscale(0%);
    transition: filter 0.2s ease-in-out;
}


.carousel-item img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);

}

.carousel {
    display: flex;
    overflow: hidden;
    flex-shrink: 0;    
}

.overlay img {
    width: auto;
    height: auto;
    padding-top: 40px;
    padding-right: 30px;
    margin: -40px;
}

.carousel-button {
    font-size: 24px;
    margin-left: -10px;
    margin-right: -10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.linha-vertical {
    width: 1px;
    align-self: stretch;
    border-left: 1px solid #CCC;
    border-radius: 0.2px;
    height:99%;
    left: 30%;
    position: absolute;
}

/* Menu */
.menu {
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.menu li {
    color: var(--Neutras-50, #9B9B98);
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.15px;
    float: left;
    display: inline;
    padding: 0px 10px;
}

.menu li:first-child {
    border-right: 1px solid #9B9B98;
    padding-left: 0px; /* Adicione o valor desejado para o padding-left da primeira li */
}

.menu li:not(:last-child) {
    border-right: 1px solid #9B9B98; /* Adiciona uma borda direita entre os itens do menu */
}

.menu li:hover {
    background-color: #555; /* Cor de fundo quando o mouse está sobre o item do menu */
    color: #ffffff;  /* Ao passar o mouse, as cores das letras ficarão brancas */
}

/* CODIGO DA DIV Dominaria Remastered */

.edicao-box {
    display: flex;
    width: 91%;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    box-shadow: 0px 4px 8px 0px rgba(4, 5, 12, 0.10);
    padding: 5px;
    position: relative; /* Adicionado posicionamento relativo */
}

.edicao-box img {
    margin-right: 10px;
}

.edicao-box p {
    margin-left: 5px;
}

.texto-destaque {
    font-weight: bold;
}

.selecao-edicao {
    color: var(--Neutras-90, #04050C);
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
	padding: 0px 5px;
    margin-left: auto;
    border: none;
    background: none;
    appearance: none;
	border-left: 1px solid black;
    padding-right: 25px;
    position: relative;
    font-weight: bold;
}

.edicao-box:after {
    content: "▼";
    position: absolute;
    top: 50%; /* Ajusta a posição verticalmente ao centro */
    right: 15px; /* Ajusta a posição horizontalmente */
    transform: translateY(-50%); /* Centraliza verticalmente usando translateY */
    pointer-events: none;
}

/* Codigo da div contramagica */

.nome-card {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 92%;
    font-family: 'Jost', sans-serif;
}

.option-card{
    border-radius: 0.6px;
    border: 0.8px solid var(--Neutras-30, #CECECE);
    background: var(--Neutras-20, #ECECEA);
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

.like-label {
    margin-left: auto;
    font-size: 24px;
    cursor: pointer; 
}

.like-label img {
    width: 32px;
    height: 32px;
}

.like-container .hidden-checkbox:checked + .like-label {
    color: #c0392b; /* Cor do coração quando marcado */
}

.nome-card img {
    margin-left: 10px;
}

.card-description {
    margin-top: -10px;
    font-style: italic;
    color: var(--Neutras-60, #727270);
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.65px;
}

/*DIv listar compra*/

.lista-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 90%;
    border-radius: 1px;
    border: 1px solid var(--Neutras-20, #ECECEA);
    background: var(--Neutras-10, #F4F4F2);
    box-shadow: 0px 4px 8px 0px rgba(4, 5, 12, 0.10);
    padding: 10px;
    position: relative; /* Adicionado posicionamento relativo */
}

.top-row, .middle-row, .bottom-row {
    display: flex;
    width: 100%;
}


.top-row {
    color: var(--Neutras-70, #474745);
    font-family: 'Jost', sans-serif;
}


.middle-row {
    margin-top: 1px;
    color: var(--Neutras-60, #727270);
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.25px;
}

.bottom-row {
    margin-top: 20px; /* Adicionado espaçamento entre as linhas */
    gap: 8px;
}

/* Estilos para o input number personalizado */
.custom-number-input {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 1px;
}
  
.custom-number-input input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    border: none;
    border-radius: 0.25rem;
    width: 50px; 
    text-align: center;
    font-size: 16px;

}
  
.custom-number-input input[type="number"]::-webkit-inner-spin-button,
.custom-number-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
  /* Estilos para os botões de incremento e decremento usando <img> */
.custom-number-input button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0;
}
  
.custom-number-input .increment img,
.custom-number-input .decrement img {
    width: 20px; /* Ajuste conforme necessário */
    height: 20px; /* Ajuste conforme necessário */
}


.lista-compra p:first-child {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: -5px;
    font-weight: bold; /* Exemplo de estilo adicional para o primeiro parágrafo */
}

.custom-image {
    margin-top: 0px;
    margin-left: 8px;
    width: 25px; /* Defina o tamanho desejado para a imagem */
    height: 25px; /* Mantém a proporção original da imagem */
}

.custom-image-2{
    width: 40px; /* Defina o tamanho desejado para a imagem */
    height: 40px; /* Mantém a proporção original da imagem */
    border-radius: 0.6px;
    border: 0.8px solid var(--Neutras-30, #CECECE);
    background: var(--Neutras-20, #ECECEA);

    /* Shadow_Light_Day */
    box-shadow: 0px 4px 8px 0px rgba(4, 5, 12, 0.10);
}

.add-button {
    background: var(--Semnticas-Sucesso-Escuro, #127119); /* Cor verde do botão de sucesso do Bootstrap */
    color: #ffffff; /* Cor do texto no botão */
    padding: 8px 12px; /* Ajuste o preenchimento conforme necessário */
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 24px;
    line-height: 24px;
    letter-spacing: 0.5px;    
    gap: 5px;
}

.add-button img {
    width: 24px;
    height: 24px;
}

.add-button::before {
    font-size: 10px; /* Tamanho menor do quadrado e do sinal de adição */
    font-weight: bold;
    color: #28a745;
    background-color: #ffffff;
    border: 1px solid #28a745;
    width: 20px; /* Largura do quadrado */
    height: 20px; /* Altura do quadrado */
    border-radius: 2px; /* Ajuste para torná-lo mais quadrado */
    display: flex;
    justify-content: center;
    line-height: 24px; /* 150% */
    letter-spacing: -0.5px;
    align-items: center;
    margin-right: 8px;
}

    
/* Detalhes carta */

.detalhes-carta {
    width: 90%;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;

}

.detalhes-carta p{
    font-weight: bold;
}

.detalhes-carta img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.detalhes-carta p:first-child {
    color: var(--Neutras-90, #04050C);
    /* Title/Title_Medium */
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.5px;
}

.detalhes-carta p:last-child {

    color: var(--Marca-Primria-Padro, #FF5921);
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.55px;
    text-transform: capitalize;
}

.box-detalhes-carta{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    width: 90%;
    height: 34px;
    border-radius: 1px;
    border: 1px solid var(--Neutras-20, #ECECEA);
    background: var(--Neutras-10, #F4F4F2);
    padding: 0px 10px; 
}

.box-detalhes-carta p:first-child {
    color: var(--Neutras-60, #727270);
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.25px;
    flex: 1;
}


.box-detalhes-carta .texto-azul{
    color: #0085FF;
    text-align: right;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.box-detalhes-carta .texto-magica{
    color: var(--Neutras-70, #474745);
    text-align: right;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.5px;
}

.box-detalhes-carta-img{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 90%;
    height: 34px;
    border-radius: 1px;
    border: 1px solid var(--Neutras-20, #ECECEA);
    background: var(--Neutras-10, #F4F4F2);
    padding: 0px 10px;
    
}

.box-detalhes-carta-img p{
    color: var(--Neutras-60, #727270);
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.25px;
    flex: 1;
}

.box-detalhes-carta-img img {
    width: 24px;
    height: 24px;
    width: auto; /* Ajusta a largura automaticamente para manter a proporção */
    max-width: 100%; 
    margin-left: 2px;
}

.detalhes-preco {
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: 1px;
    border: 1px solid var(--Neutras-20, #ECECEA);
    background: var(--Neutras-10, #F4F4F2);
    padding: 10px 10px;
}

.imagem-produto {
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

.tipo-produto {
    margin: 0; /* Remover margem padrão do parágrafo */
    color: var(--Neutras-60, #727270);
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.25px;

}

.precos {
    color: var(--Neutras-60, #727270);
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.5px;
    margin-left: auto; /* Move os divs para a extrema direita */
    display: flex; /* Torna os divs filhos de .precos flexíveis */
}

.precos div {
    margin-left: 15px; /* Adiciona espaço entre os divs */
    padding-left: 5px;
}

.divisor-preco{
    border-left: 2px solid;
}

.green-border {
    border-left: 4px solid #69BC40; /* Cor da borda verde para a primeira div */
    border-radius: 0.6px;
}

.yellow-border{
    border-left: 4px solid #DDC80B;     /* Cor da borda amarela para a segunda div */
    border-radius: 0.6px;
}

.orange-border{
    border-left: 4px solid #FF8B64; /* Cor da borda laranja para a terceira div */
    border-radius: 0.6px;
}

